body{
    padding: auto;  
}

.button {
  background-color: #f5f5f5; 
  color: black;
  border: 2px solid #868484;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnMain {
  float: left;
  width: 75%;
  text-align: center;
}

.columnAuxiliary {
  float: right;
  width: 25%;
}
.buttonAlignCenter{
  display:inline;
  text-align: center;
}
.buttonAlignCenter-Pading{
  display:inline;
  padding-left: 5px;
}
.checkbox{
  cursor: pointer;
}
 